<div class="row">
	<div class="col s12">
		<h1>Bienvenido a Wikipedia</h1>
		<p>Usando este servicio puede navegar por Wikipedia (la enciclopedia mundial) a tiempo real. Inserte un término a buscar en Wikipedia.</p>

		<div class="input-field">
			<input id="query" type="text"/>
			<label for="query">Insertar término a buscar</label>
		</div>
	</div>
</div>

<!-- SUBMIT -->
<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="submit()"><i class="material-icons">send</i></a>
</div>