<div class="row home">
	<div class="col s12 center-align">
		<span class="main-icon fa-stack fa-5x">
			<i class="fas fa-circle fa-stack-2x green-text"></i>
			<i class="fab fa-wikipedia-w fa-stack-1x fa-inverse"></i>
		</span>

		<div class="input-field">
			<input id="query" type="text"/>
			<label for="query">¿Qué desea buscar?</label>
		</div>
	</div>
</div>

<div class="bottom-space"></div>

<!-- SUBMIT -->
<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="submit()">
		<i class="material-icons">send</i>
	</a>
</div>
