<div class="row">
	<div class="col s12 center-align">
		<h1><%= header %></h1>
		<i class="large material-icons">sentiment_very_dissatisfied</i>
		<p style="margin:30px 0px;"><%= text %></p>

		<div class="input-field">
			<a class="waves-effect waves-light btn" href="#!" onclick="apretaste.send({'command':'WIKIPEDIA'});">Atrás</a>
		</div>
	</div>
</div>