<div class="row">
	<div class="col s12 center-align">
		<h1><%- title %></h1>

		<% if(image) { %>
			<img class="fullscreen" src="{{APP_IMAGE_PATH}}<%= image %>" alt="<%= title %>"/>
		<% } %>

		<div class="break-long-words">
			<%- atob(body) %>
		</div>
	</div>
</div>

<div class="bottom-space"></div>

<!-- BACK BUTTON -->
<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.send({'command':'WIKIPEDIA'})"><i class="material-icons">arrow_back</i></a>
</div>